/* From here starts CSS for Coming Soon Page */

#ComingSoon{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/festivalimg8.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/festivalimg9.jpg);
    height: 100%;
    background-position: center;
    font-size: 30px;
    letter-spacing: 15px;
    background-size: cover;
}

#ComingText{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sofia', cursive;
    text-align: center;
}

#AboutEvent {
    width: 200px;
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    
}
.hr{
    margin 30px auto;
    border: 1.5px solid #fff;
 }

#launch{
    font-size: 20px;
    margin-bottom: 30px;
}
/* Here ends CSS for Coming Soon Page*/

/* From here starts CSS for top bar */
#TopBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0%;

}

#line1{
    margin-top: 5%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo{
    margin-right: 2.5%;
}

#line2{

    margin-top: 5%;
        
}
/* Here ends CSS for top bar */


/* From here starts CSS for navigation bar */
#NavBar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 33%;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: "Arial";
    
}

#NavBar a{
    float:left;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

#NavBar a:hover:not(.active){
    background-color:#99B2B2 ;
    color: black;
}

button{
    color: white;
    padding: 15px 20px;
}

button:hover{
    cursor: pointer;
}
/* Here ends CSS for navigation bar */


/* From here starts CSS for About Page */
#About{
    background-color: #000;
    width: 100%;
    height: 1000px;
    float: left;
}
.AboutPage > div {
  background-color: #000;
 flex-direction: row;
}

.aboutFestival {
    width: 250px;
    float: left;
    margin: 10px;
    margin-left: 190px;
    height: 198px;
   }
 
#FestivalSlide{
   margin-top: 50%;

}

#BuyTicket{
    margin-right: 20%;
    margin-left: 36%;
    margin-top: -1%;
    background-color: #99B2B2;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    height: 14%;
    border-radius: 50%;
    cursor: pointer;
    text-transform: uppercase; 
  }
 /* Here ends CSS for About Page*/


/* From here starts CSS for Tickets */
#Ticket{
    background-color: #000;
    width: 100%;
    height: 1000px;
    float: left;
}
#text{
    margin-top: 5%;
    color: #fff;
    text-align: center;
    border-bottom-style:solid;
    font-family: "Lucida Console"; 
    font-size: 15px;
    border-bottom-color: #fff;
    margin-left: 30%;
    width: 40%;
}

.ticketType {
    width: 250px;
    float: left;
    margin: 95px;
    height: 198px;
   }
 
#TicketImage {
    width: 350px;
}

#GetTicket {
    margin-top: -60%;
    margin-left:30%;
    width: 200px;
    background-color: transparent;
    border: 5px solid #fff;
    color: white;
    font: bold 15px/30px sans-serif;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }

.popup {
    display: none;
    width: 100%;
    background-color: black;    
    text-align: center;
}

.popup > img {
    margin: 0 auto;
}

.select {
    width: 10px;
    height: 10px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
}

.map {
    margin: 0 auto;
    width: 75%;
    height: 800px;
    border: 1px solid blue;
    background-image: url(images/campsite_map.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    width: 150px;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 560px;
    margin-top: 120px;
}

.left > button {
    border-radius: 50%;
    background: green;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.right {
    width: 150px;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}


.right > button {
    border-radius: 50%;
    background: green;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.left > button:nth-child(2) {
    margin-left: 45px;
    margin-top: -35px;
}

.left > button:nth-child(3) {
    margin-left: 45px;
    margin-top: -25px;
}

.left > button:nth-child(4) {
    margin-left: -10px;
    margin-top: -25px;
}b  

.left > button:nth-child(5) {
    margin-left: -15px;
    margin-top: -45px;
}

.left > button:nth-child(6) {
    margin-left: -15px;
    margin-top: -45px;
}


.left > button:nth-child(7) {
    margin-left: -15px;
    margin-top: -45px;
}

.left > button:nth-child(8) {
    margin-left: -10px;
    margin-top: 240px;
}
/* Here ends CSS for Tickets*/


/* From here starts CSS for Account */
#Account{
    background: url(images/festivalimg7.jpg);
    opacity:0.8;
    width: 100%;
    height: 1000px;
    float: left;
}

*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
a:hover {
  color: #99B2B2;
}

.form {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  transition: .5s ease;
}

.form:hover {
	box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
	}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #000;
  color: #fff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #99B2B2;
  color: #ffffff;
}
.tab-group .active a {
  background: #6e9987;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255,255,255,0.7);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: red;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000;
  margin-top:-10px;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 2px solid  #6e9987;
  color: #000;
  border-radius: 0;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;

}
input:focus{
  outline: 0;
  border-color: #99B2B2; 
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #6e9987;
  color: #ffffff;
  transition: all 0.5s ease;
}
.button:hover, .button:focus {
  background: #99B2B2;;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom:10px;
}
/* Here ends CSS for Account*/



/* From here starts CSS for Cart */
/* Here ends CSS for Cart*/

/* Here ends CSS for Footer*/
#footer{
    background-color: #99B2B2;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    padding: 10px;
    position: relative;
    height: 35px;
    clear: both;
    
 }
/* Here ends CSS for Footer*/




