/* Here starts css for top and navigation bar*/
header {
  color: #fff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;    
 
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0.5,0,0.7)), url(../images/festivalimg7.jpg);
  opacity:0.8;
}
header .navbar-default{
 background-color: white;
 border: none;
 border-bottom: 1px solid rgba(255,255,255,0.3);
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 25px 60px;
 font-size: 18px;
 letter-spacing: 1px;

}
header .navbar-default .navbar-nav>li>a {
  color: black;
  font-size: 16px;

}

/* log in */
#loginM{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#loginM .bottom{
    background-color:t;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
    box-shadow: red;
}

#loginM .formLI {
    margin-bottom: 10px;
}

#inputLI{
  display: block;
  width: 100%;
  height: 70%;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
  outline: 0px;    
  border: 1px solid  #6e9987;
  border-radius: 10px;
}

#labelIN{
  color: #6e9987;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  pointer-events: none;
  font-size: 13px;
}
#spanReq {
  margin: 2px;
  color: red;
}

.forget{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  color:#6e9987;
  cursor: pointer;
}

.buttonLI {
  border: 0;
  outline: none;
  width: 40%;
  border-radius: 10px;
  padding: 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  float: right;
  background: #6e9987;
  color: #ffffff;
  margin-bottom: 5px;    

}
.buttonLI:hover, .button:focus {
  background: #99B2B2;;
}
/* Here ends css for top and navigation bar*/

/* Here starts css for About Page*/
section {
  width: 100%;
  padding: 50px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  height: 50%;
  text-align: center;
}
section:nth-child(1) {
  margin-top: 100px;
}
.home {
  margin-top: 100px;
    background-color: transparent;
}

.to-top {
  padding: 9px;
  background-color: white;
  width: 40px;
  height: 40px;
  float: right;
  position: fixed;
  bottom: 10px;
  right: 0;
  margin-right: 100px;
  margin-bottom: 25px;
  opacity: 1;
  
  transition: all .8s ease;
}

.to-top:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0; 
  height: 0; 
  position: relative;
  right: 4px;
  bottom: 4px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #6e9987;
}

.container{
  width: 90%;
  margin: auto;
}

header #intro .btn{
  background-color: transparent;
  border: 2px solid #6e9987;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}
/* Here ends css for About Page*/
#1 {
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

#1,
.header-content {
    position: relative;
    width: 100%;
    text-align: center;
}
.header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    z-index: 10;
}
.header-content .header-content-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.41);
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.header-content-inner h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.header-content-inner h1:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background: #F05F40;
}

.header-content-inner p {
    font-size: 22px;
    line-height: 1.8;
    color: #e4e4e4;
}

.successMessage {
    color:white;
}

/*Here starts css for footer*/
footer{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;    
  text-align: center;
  background-color: #6e9987;
  width: 100%;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  z-index: 0;;
}
/*Here ends css for footer*/






